.DS_Store
output.xml
report.html
log.html
*.pyc
*-screenshot-*.png
*\$py.class
*.swp
*__pycache__
/bin
/include
/lib
*egg-info
test_*
build
dist
.vscode/launch.json
tests/TestApplications/src/*/bin
tests/TestApplications/src/*/obj
tests/TestApplications/.vs
tests/TestApplications/src/KeyboardTestConsole/Properties/PublishProfiles
